

.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 60px;
    padding-right: 60px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    @include small-and-over {
        padding-left: 20px;
        padding-right: 20px; 
    }
}

.searching {
    background-color: $primary-color;
    position: relative;
    padding-top: 145px;
    padding-bottom: 350px;
    @include small-and-over {
        padding-top: 0px;
        padding-bottom: 0px;
    }
}

