.container {
    margin-left: auto;
    margin-right: auto;
    padding-left: 40px;
    padding-right: 40px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
}

.gif-section {
    position: relative;
    overflow: hidden;
    margin-left: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: auto;
    width: 100%;
}

.gif-section > img {
    margin-top: 20px;
    margin-bottom: 20px;
}

