.searching {
    background-color: $primary-color;
    position: relative;
}

.search-title {
    color: $secondary-color;
    font-family: $type;
    font-size: 3em;
    margin-bottom: 5px;
}

.search-description {
    color: $secondary-color;
    font-family: $type;
    font-size: 1.5em;
    margin-bottom: 40px;
}